<div class="text-center">
    <main class="form-signin">
        <form class="mid-form" #loginForm="ngForm" (ngSubmit)="onSubmit()">
            <img class="mb-4" src="../../../../assets/img/usuario.png" alt="" width="272" height="257">
            <h1 class="h3 mb-3 fw-normal"> Por Favor. Inicie Sesión </h1>

            <div class="form-floating">
                <input type="email" class="form-control" placeholder="name@example.com" #username="ngModel"
                [(ngModel)]="usuario.username" name="username" required/>
                <label for="floatingInput"> Usuario : </label>
                {{usuario.username}

                <div class="alert alert-danger" *ngIf="!username.valid && username.touched">
                    El Nombre de Usuario es Requerido!.
                </div>
            </div>
  
            <div class="form-floating">
                <input type="password" class="form-control" placeholder="Password"
                #pass="ngModel" [(ngModel)]="usuario.password" name="pass" required />
                <label for="pass"> Contraseña : </label>

                <div class="alert alert-danger" *ngIf="!pass.valid && pass.touched">
                    La Contraseña del Usuario es Requerida!.
                </div>
            </div>
            <div>
                <button class="w-100 btn btn-lg btn-primary" type="submit" (onclick)="redireccion();"
                [disabled]="loginForm.invalid"> Iniciar Sesión </button>
            </div>
            <div class="link-registrar">
                <a href="#"> <h6> Registrar Usuario </h6> </a>
            </div>
        </form>
    </main>
</div>